<div class="status-bar">
  <div class="left-section">
    <span class="item" (click)="onBranchClick()">
      <img src="assets/statusbar/git-branch-outline.svg" alt="branch" />
      {{ gitBranch }}
    </span>
  </div>

  <div class="right-section">
    <span class="item">Powered by <strong>Angular</strong></span>

    <span class="item">
      <img src="assets/statusbar/checkmark-done-outline.svg" alt="check" />
      Prettier
    </span>

    <span class="item">
      <img src="assets/statusbar/notifications-outline.svg" alt="notifications" />
    </span>
  </div>
</div>
