<section id="contact" class="contact-section">
  <h2 class="section-title">Contact Me</h2>

  <div class="contact-card">
    <pre ngNonBindable>
      <code>
        <span class="comment">// Let's get in touch!</span>
        <span class="keyword">const</span> <span class="variable">contactDetails</span> = &#123;<br>
          <span class="variable">email</span>: &#39;sourav.ion &#64; gmail.com &#39; <span class="comment">// Reach out via email</span>
          <span class="variable">phone</span>: &#39;+91 7003647070&#39;,     <span class="comment">// Call me at this number</span>
          <span class="variable">github</span>: &#39;https://github.com/souravion&#39;,  <span class="comment">// My Github Profile</span>
          <span class="variable">linkedin</span>: &#39;https://www.linkedin.com/in/sourav-halder-22718b158/&#39;, <span class="comment">// LinkedIn Profile</span>
        &#125;

        <span class="console">console</span>.<span class="log">log</span>(&#39;Looking forward to collaborating!&#39;);
      </code>
    </pre>
  </div>
</section>
