<div class="topbar">
  <div class="left">
    <img src="assets/projectlogo/vsc.svg" alt="Logo" class="logo" />
    <span class="menu-item">File</span>
    <span class="menu-item">Edit</span>
    <span class="menu-item">Selection</span>
    <span class="menu-item">View</span>
    <span class="menu-item">Go</span>
    <span class="menu-item">Run</span>
  </div>

  <div class="right">
    <span class="icon" title="Minimize">🗕</span>
    <span class="icon" title="Maximize">🗖</span>
    <span class="icon close" title="Close">✕</span>
  </div>
</div>
