/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  color: #333;
}

/* Container */
.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Split View */
.split-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Code View (Left Side) */
/* Code View (Left Side) */
.left-side {
  flex: 1;
  background: #1e1e1e;
  color: #f8f8f2;
  padding: 20px;
  overflow-x: auto;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--secondary-border-color)
}

.left-side h2 {
  color: #ffffff;
  margin-bottom: 16px;
}

.left-side pre {
  margin: 0;
  white-space: pre;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.6;
}

.left-side code {
  font-family: inherit;
}

/* Highlighting */
.keyword {
  color: #c586c0;
}
.className{
  color: #4ec9b0;
}
.componentDec{
  color: #dcdcaa;
}

.brace{
  color: #4fc1ff;
}
.comDecProperty{
  color: #9cdcfe;
}
.comClassVariavle{
  color: #179fff;
}
.comClass{
  color: #569cd6;
}
.string {
  color: #ce9178;
}

.boolean {
  color: #b5cea8;
}

.comment {
  color: #6a9955;
}



/* Right Side (Output View) */
.right-side {
  flex: 1;
  padding: 20px;
  background: #1e1e1e;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.right-side h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.right-side p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

/* Highlighting the text */
.hi-text {
  font-size: 36px;
}

.hi-color {
  color: #ff6347;
  font-size: 36px;
}

.name-color {
  color: var(--secondary-text-color) ;
  font-weight: bold;
  font-size: 42px;
}

.designation-text{
  color: var(--primary-text-color) !important;
  font-weight: bold;
}

.desc-text{
  color: var(--primary-text-color) !important;
  font-weight: normal;
}
/* Code-like output */



/* Responsive */
@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .left-side, .right-side {
    width: 100%;
  }
}
